@use 'main';

.inputdevfixed {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(12.5px);
    padding: 12px 0px;
    z-index: 9;
    box-shadow: 0px 0px 15px 1px #00000066;

    input[type=text] {
        width: auto;
        box-sizing: border-box;
        border: 2px solid #fff0;
        font-family: inherit;
        border-radius: 22px;
        border-color: #c7c7c7;
        font-size: 16px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 9px 0px 9px 16px;
        color: black;
        width: 80%;

        &:focus-visible {
            outline: none;
            border: solid main.$accent;
        }
    }
}

#button {
    background-color: main.$accent;
    color: white;
    font-weight: bold;
    padding: 7px 30px;
}

.result {
    display: block;
    text-align: center;
    border: none;
    width: 100%;

    td {
        padding: 8px;

        img {
            width: 100%;
            border-radius: 20px;
        }
    }

    tr {
        background-color: transparent;
        font-size: large;
    }

    th {
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        color: rgb(0, 0, 0);
    }
}

.button:hover {
    cursor: pointer;
    background-color: white;
}

.tablepadding {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    #tablediv {
        height: fit-content;
        max-height: 100%;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        display: none;
        max-width: 90%;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    }
}

.button {
    font-size: large;
    font-family: inherit;
    background-color: transparent;
    border-width: 2px;
    border-radius: 14px;
    color: main.$accent;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    background-color: main.$accent-hov;
    color: white;
}

.result tr .button {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    color: main.$accent;
    border: none;
    padding: 8px;

    &:hover {
        color: main.$accent-hov;
    }
}



@media screen and (max-width: 600px) {
    .result {
        tr {
            font-size: 11px !important;

            .button {
                font-size: 10px !important;
                padding: 10px !important;
            }

        }

        td img {
            border-radius: 5px !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .result tr {
        font-size: 9px !important;

        .button {
            font-size: 7px !important;
            padding: 5px !important;
        }
    }
}