body {
    height: 100vh;
    display: block;
    max-height: 100vh;
    /* background-image: url(../images/background.svg); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
}

#audio {
    width: 100%;
}

#player {
    background-image: unset;
    display: flex;
    background-color: #ffffff7a;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}

#playerdiv {
    height: 80vh;
    align-items: center;
    justify-content: center;
    padding: 11px;
    display: none;

}

#player div {
    text-align: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    display: inline-block;
}

#thumb {
    display: inline-block;
    border-radius: 10px;
}

#thumbnail {
    width: 376px;
    border-radius: 20px;
}

#tablediv {
    overflow: auto;
}

.inputdevfixed {
    background-color: #ffffff7a;
}

#tablediv {
    background-color: #ffffff7a;
    background: rgb(255 255 255 / 49%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media (orientation: portrait) {
    .tablepadding {
        flex-direction: column;
        align-items: center;
    }

    #player {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 15px;
    }

    #player div {
        text-align: center;
        padding: 20px;
        height: 100%;
        width: 100%;
        display: inline-block;
    }

    #playerdiv {
        height: fit-content;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    #thumb {
        display: inline-block;
        border-radius: 10px;
    }

    #thumbnail {
        width: 376px;
        border-radius: 20px;
    }

}

@media screen and (max-width: 700px) {
    #thumb {
        display: none;
    }

    #player {
        height: 20%;
    }
}

.tablepadding ::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
}