.result th {
    color: #fff;
}

.result td {
    color: #fff;
}

.result td img {
    filter: brightness(0.7);
}

button:hover {
    cursor: pointer;
    background-color: #ffffffd6;
}

input[type=text] {
    border: 2px solid #fff0;
    font-family: inherit;
    background: #3a3a3a;
    color: ghostwhite;
}

#tablediv {
    background-color: #121212;
}

.inputdevfixed {

    backdrop-filter: blur(6px);
}

#button {
    color: ghostwhite;
}