.result {
    display: block;
    text-align: center;
}

.result {
    border: none;
    width: 100%;
}

.result td,
.result th {
    padding: 8px;
}

.result td img {
    width: 100%;
    border-radius: 20px;
}

.result tr {
    background-color: transparent;
    font-size: large;
}

.result th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.button:hover {
    cursor: pointer;
    background-color: white;
}

input[type=text] {
    width: auto;
    box-sizing: border-box;
    border: 2px solid #fff0;
    font-family: inherit;
    border-radius: 22px;
    border-color: #c7c7c7;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 9px 0px 9px 16px;
    color: black;
    width: 80%;
}

input[type=text]:focus-visible {
    outline: none;
    border: solid var(--accent);
}

#tablediv {
    height: fit-content;

    max-height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;

    display: none;
    max-width: 90%;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.tablepadding {
    margin-top: 64px;
    max-height: calc(100vh - 123px);
    height: calc(100vh - 123px);
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.button {
    font-size: large;
    font-family: inherit;
    background-color: transparent;
    border-width: 2px;
    border-radius: 14px;
    color: var(--accent);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    background-color: #4586ff;
    color: white;
}

.result tr .button {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    color: var(--accent);
    border: none;
    padding: 8px;
}

.result tr .button:hover {
    color: #97bbff;
}

@media screen and (max-width: 600px) {
    .result tr {
        font-size: 11px;
    }

    .result tr .button {
        font-size: 10px;
        padding: 13px;
    }

    .result tr .button {
        font-size: 10px;
        padding: 10px;
    }

    .result td img {
        border-radius: 5px;
    }
}

@media screen and (max-width: 500px) {
    .result tr {
        font-size: 9px;
    }

    .result tr .button {
        font-size: 7px;
        padding: 5px;
    }

    .result tr .button {
        font-size: 7px;
        padding: 5px;
    }
}

.inputdevfixed {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    width: 100%;
    background-color: var(--secondary);
    padding: 12px 0px;
    z-index: 9;
    box-shadow: 0px 0px 15px 1px #00000066;
}

#button {
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    padding: 7px 30px;
    background: var(--accent);
}